body {
    font-family: Arial, Helvetica, sans-serif;
}

.dropzone{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 400px;
    border: 5px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}