body {
    font-family: Arial, Helvetica, sans-serif;

}

.dropzone{
    /*Propiedades para alinear al centro*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Fin de las propiedades de alineación*/
    width: 600px;
    height: 600px;
    border: 5px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}